html, body {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
}
.step {
	width: 900px;
	min-height: 500px;

	display: block;

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    letter-spacing: -1px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;

	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
}

/* appear out inactive slides */
.step:not(.active) {
	opacity: 0.3;
}

pre {
    font-size: 20px;
    overflow: hidden;
    padding: 0px !important;
    border: none !important;
    color:#111111;
    text-shadow: 0 rgba(0, 0, 0, .1);
    background-color: #EEEEEE;
    padding: 5px 10px !important;
    height:100%;
    border-radius: 10px;
}

code {
    font-family: Helvetica;
    letter-spacing: 0px;
    text-shadow: 0 rgba(0, 0, 0, .1);
}

.big-title {
	font-size:60px;
	text-align:center;
	margin-bottom: 85px;
}

.title, q {
	font-size: 48px;
}

.subtitle {
	margin-top: 30px;
	font-size: 36px;	
}

.step ul {
	font-size: 32px;
}
.step > ul > li {
	margin-bottom: 10px;
}
.step ul li ul {
	font-size: 24px;
}


.step ol {
	font-size: 26px;	
}
.step ol li pre {
	margin-top: 0px;
}

q:before, q:after{

}

#header {
	position: fixed;
	width:100%;
	background: #DFDFDF;
	padding: 5px 10px;
	z-index:9999;
}

#header .title{
	font-size: 20px;
	color:#9F9F9F;
}

#quick_link {
	position: fixed;
	z-index:9999;
	width: 20px;
	height:100%;

}

#quick_link ul {
	padding: 20px 15px;
	margin: 0px;
	display:none;
	float: left;
	height:100%;
	background:rgba(30, 30, 30, 0.8);
	list-style: none;
}

#quick_link:hover ul {
	display:inline;
}

#quick_link ul li a {
	text-decoration:none;
	font-size:25px;
	color: #EFEFEF;
}

#quick_link ul li a:hover {
	text-decoration: underline;
}

.will-highlight {
	border-width: 2px;
	border-color:transparent;
	border-style: dashed;
	padding: 5px 10px;
	border-radius: 10px;
}

.do-highlight {
	border-color: #9F9F9F !important;
}

.has-highlight {
	border-color: transparent !important;
}

.will-appear {
	display:none;
}
.do-appear {
	display:block;
}
span.do-appear {
	display:inline;
}
li.do-appear {
	display: list-item;
}
.has-appear {
	display:none;
}


.prettyprint .nocode {
	color: #EFEFEF;
}